.item-practice {
   display: flex;
   flex-direction: column;
   height: 100%;
   background-color: #fff;
   &__images {
      display: block;
      padding: 0 0 270px/490px * 100% 0;
   }
   &__content {
      flex: 1 1 auto;
      @include adaptiv-value("padding", 15, 5, 0);
   }
   &__text {
      display: block;
      @extend%roboto-400;
      @include adaptiv-value("font-size", 17, 15, 1);
      line-height: 26/17 * 100%;
      color: #262626;
      @include adaptiv-value("padding-bottom", 20, 8, 1);
      border-bottom: 1px solid #8d8d8d;
      transition: color ease 0.4s;
      &:hover {
         color: #f12929;
      }
   }
   &__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @extend%roboto-400;
      @include adaptiv-value("font-size", 14, 12, 1);
      line-height: 26/14 * 100%;
      color: #8d8d8d;
      @include adaptiv-value("padding-top", 20, 8, 1);
   }
   &__admin {
      display: inline-flex;
      align-items: center;
      color: #8d8d8d;
      transition: color 0.3s ease 0s;
      &::before {
         margin: 0px 8px 0px 0px;
      }
      @media (any-hover: hover) {
         &:hover {
            color: #fe3e57;
         }
      }
   }
}
